* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

.box {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

/* NAV-BAR */

nav {
  float: right;
  margin-top: 15px;
}


ul li {
  display: inline-block;
  padding: 10px;
  list-style: none;
}

li a {
  text-decoration: none;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: 4px 4px 2px #625959;
  color: rgb(118, 128, 131);
  font-size: 1.5rem;
}

li a:active {
  color: #992121;
  background-color: #aa9292;
  box-shadow: 3px 3px #000000;
}

/* /NAV-BAR */


.shoe span {
  display: block;
  text-align: center;
}


section#low {
  background-color: red;
  color: yellow;
}

section#sneaker {
  background-color: green;
  color: yellow;
}

section#high-top {
  background-color: yellow;
  color: green;
}


/* CENTRATURA IMMAGINI  */

.box .shoe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /CENTRATURA IMMAGINI  */
